* {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
body {
  font-family: "Open Sans", sans-serif;
}
.btn {
  display: inline-block;
  color: #fff;
  background-color: #fe2142;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  transition: 0.5s all;
}
.btn:hover {
  background-color: #bc0824;
}

.col-1-2 {
  width: 50%;
  float: left;
  padding: 0 15px;
}

.col-1-3 {
  width: 33.3333%;
  float: left;
  padding: 0 15px;
}

.col-1-4 {
  width: 25%;
  padding: 0 15px;
  float: left;
}

/* ------------------------------------------ */
/* main-hero */
/* ------------------------------------------ */

.main-hero {
  background-color: #fe2142;
  height: 700px;
  background-image: url("../images/main-banner.jpg");
  background-size: 1600px auto;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed; /* przyklejenie tla */
}

/* ------------------------------------------ */
/* page-header */
/* ------------------------------------------ */
.page-header {
  padding: 10px 0;
}
.page-logo img {
  margin-top: 10px;
}
.page-nav {
  float: right;
}
.page-nav-list li {
  display: inline-block;
}
.page-nav-list a {
  display: block;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
  line-height: 50px;
  transition: 0.5s all;
}
.page-nav-list a:hover {
  text-shadow: 0 0 3px #fff, 0 0 5px #fff;
  transform: scale(1.1);
}
/* ------------------------------------------ */
/* main-banner */
/* ------------------------------------------ */
.main-banner {
  text-align: center;
  padding-top: 120px;
}
.main-banner-title {
  text-transform: uppercase;
  font-family: "Caesar Dressing", cursive;
  color: #fff;
  font-size: 105px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.main-banner-text {
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  width: 750px;
  font-family: sans-serif;
  font-size: 19px;
  margin: 60px auto;
}
.main-banner-btn {
  display: inline-block;
  background-color: #fff;
  color: #fe2142;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 25px 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  transition: 0.5s all;
  border-radius: 5px;
}
.main-banner-btn:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}
/* ------------------------------------------ */
/* main-articles */
/* ------------------------------------------ */
.main-articles {
  padding: 100px 0;
}

.article-title {
  font-family: "Caesar Dressing", cursive;
  font-weight: bold;
  text-transform: uppercase;
  color: #fe2142;
  font-size: 30px;
  padding-bottom: 40px;
}
.article-text {
  color: #777;
  font-weight: 300;
  text-align: justify;
  line-height: 1.2;
  padding-bottom: 40px;
}
.article-btn {
  display: inline-block;
  color: #fff;
  background-color: #fe2142;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  transition: 0.5s all;
}
.article-btn:hover {
  background-color: #bc0824;
}
/* ------------------------------------------ */
/* main-paralax */
/* ------------------------------------------ */
.main-paralax {
  background-color: #fe2142;
  height: 450px;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}
.main-paralax-text {
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.2;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.main-paralax-title {
  font-size: 46px;
  font-family: "Caesar Dressing", cursive;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* ------------------------------------------ */
/* main-gallery */
/* ------------------------------------------ */
.main-gallery {
  padding: 100px 0;
}
.gallery-element {
  text-align: center;
}
.gallery-element-graphic {
}
.gallery-element-img {
  max-width: 80%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 40px;
}
.gallery-element-text {
  color: #777;
  font-weight: 300;
  padding-bottom: 40px;
  line-height: 1.2;
  text-align: center;
}
/* ------------------------------------------ */
/* main-news */
/* ------------------------------------------ */
.main-news {
  background-color: #f6f6f6;
  padding: 100px 0;
}
.news-element-text {
  color: #888;
  font-weight: 300;
  line-height: 1.2;
  text-align: justify;
  font-size: 15px;
  margin-bottom: 40px;
}
.main-news .col-1-4:first-child {
  /* 3 columns instead of 4 */
  margin-right: 25%;
}
/* ------------------------------------------ */
/* page-footer */
/* ------------------------------------------ */
.page-footer {
  background-color: #252525;
  padding: 65px 0;
}
.page-footer-bottom {
  padding-top: 20px;
}
.page-footer-nav {
  float: left;
}
.page-footer-nav li {
  display: inline-block;
  margin-right: 20px;
}
.page-footer-nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: 0.5s all;
}
.page-footer-nav a:hover {
  text-shadow: 0 0 10px #fff, 0 0 10px #fff;
}
.page-footer-copyright {
  float: right;
  color: #666;
}
